body {
    background-color: #010101;
    color: #ffe81f
}

h1 {
    text-align: center;
    font-size: 200%;
}

#h1main {
    margin-top: 5%;
}

p {
    font-size: 150%;
}

#maininfo {
    margin-left: 2%;
    margin-top: 5%;
}

.listklassen {
    left: 20%;
    margin-top: 4%;
    margin-left: 6%;
    list-style: upper-roman;
    text-decoration: dotted;
}

.background-image {
    background-image: url(bilder/vilgotwide.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.circular-image-collage {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
    border: 5px solid #ffe81f;
    border-color: #ffe81f, 1;
    margin-top: 5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav a {
    color: blanchedalmond;
    position: relative;
    display: inline-block;
    font-size: 150%;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

nav span {
    position: absolute;
    top: 0;
    left: 0;
    width:8%;
    height: 100%;
    background: linear-gradient(45deg, #4a4b47, #353838);
    border-radius: 100%;
    transition: 2s ease;
}

.navbar-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 60px;
    background: #000;
}

.navbar-nav {    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 8%;
    background: #222;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-nav-a {
    position: relative;
    display: inline-block;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

.navbar-nav-a:hover {
    color: brown;
}

nav a:nth-child(1):hover~span {
    left: 0;
}
nav a:nth-child(2):hover~span {
    left: 46%;
}
nav a:nth-child(3):hover~span {
    left: 92%;
}

.mainlist {
    font-size: 150%;
    color: #d5ceb2;
}

.ommig-bild-container {
    position: absolute;
    right: 25%;
    top: 70%;
}

#ommig-bild {
    position: absolute;
    border-radius: 15%;
    height: 168px;
}

#ommig-bild-info {
    position: absolute;
    text-size-adjust: 5px;
    color: rgb(90, 32, 7);
    background-color: rgb(255, 255, 255);
    left: 250px;
    opacity: 80%;
}

#informationParagraph {
    position: relative;
    background-color: blueviolet;
    color: greenyellow;
    text-indent: 2%;
    width: 50%;
    left: 5%;
    margin-top: 4%;
    border-radius: 5%;
}

#informationParagraph2 {
    margin-top: 10%;
    width: 50%;
    position: relative;
    margin-top: 4%;
    left: 5%;
    text-shadow: 2px 2px;
}

.infoBottomPage {
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 10px;
    color: #d5ceb2;
}
